
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  background:white;
  font-family: "Roboto", sans-serif;
  }

h1 { font-size: 30px;}
h2 { font-size: 20px;}
p  { font-size: 1.2em;}
a  { text-decoration: none;
font-size:  20px; ;}


.container{
  max-width: 1000px;
  margin: 0;
}

header .container {
  padding: 10px;;
  background:#E6E6E6 ;
  display: flex;
  flex-direction: row;
  
}

header .rounded mx-auto d-block {
 margin: 10px;
 border-radius: 10px;
 display: flex;
 justify-content: center;
}


header .titulo {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
   
  }

nav .container{
  margin: 30px;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  background: rgb(63, 48, 43);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
a:hover{
  background: rgb(243, 241, 240);
  border-radius: 5px;
  padding: 3px;
}

section{
  background: rgb(239, 220, 180);
  margin 10px;
}


img {
  width: 30em;
  height: auto;
  align-self: center;
}

 .container{
  margin: 10px;
  padding: 20px;
  background-color:rgb(166, 166, 178);
  display: grid;
  grid-template-columns:200px 200px;
  gap: 10px;
  grid-template-rows: auto;
  justify-content: center;
 

 
}

footer {
 background-color:chocolate;
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

footer .container{
  background-color:chocolate;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer .social{
  margin: 10px;

}

footer .media{
margin: 10px;
}

footer .mail{
margin: 10px;
}

@media (max-width: 600px){
    nav .container{
      flex-direction: column;
}
    footer .container{
      flex-direction:column;
    }

}
    
